@font-face {
 font-family: Brandon;
 src: url(Brandon_reg.ttf);
}

#settingBtn{
 -fx-image:  url('SettingButton.png');
 }

#settingBtn:hover{
 -fx-image:  url('SettingsButtonHighlighted.png');
 }
 
 #minimizeBtn{
 -fx-image:  url('MinimizeButton.png');
 }

 #minimizeBtn:hover{
 -fx-image:  url('MinimizeButtonHighlighted.png');
 }

#arrowBtn{
 -fx-image:  url('LeftArrowButton.png');
}

#arrowBtn:hover{
 -fx-image:  url('BackButtonHighighted.png');
}

.list-view{
 -fx-background-color: #0D0D0D;
}
.list-cell:empty {
 visibility:hidden;
 -fx-background-color: #0D0D0D;
}

.list-cell {
 -fx-background-color: #0D0D0D;
 -fx-alignment: center;
 -fx-font-family: Brandon;
 -fx-font-size: 13px;
 -fx-text-fill: #ffffff;
 -fx-font-weight: bold;
}


.label{
 -fx-font-family: Brandon;
 -fx-font-size: 13px;
 -fx-text-fill: #ffffff;
}

