
#settingBtn{
 -fx-image:  url('SettingButton.png');
 }

#settingBtn:hover{
 -fx-image:  url('SettingsButtonHighlighted.png');
 }
 
 #minimizeBtn{
 -fx-image:  url('MinimizeButton.png');
 }

 #minimizeBtn:hover{
 -fx-image:  url('MinimizeButtonHighlighted.png');
 }

#arrowBtn{
 -fx-image:  url('LeftArrowButton.png');
}

#arrowBtn:hover{
 -fx-image:  url('BackButtonHighighted.png');
}

.list-view{
 -fx-background-color: #0D0D0D;
}
.list-cell:empty {
 visibility:hidden;
 -fx-background-color: #0D0D0D;
}

.label{
 -fx-font-size: 22px;
 -fx-text-fill: #43b7e3;
}

